<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td th:text="${item.id}"></td>
        </tr>
        <tr>
            <td>name</td>
            <td th:text="${item.name}"></td>
        </tr>
    </table>
</body>
</html>